<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <p><%= button_link_to 'New Splash Page', new_object_url, :icon => 'add', :id => 'admin_new_taxon_splash_link' %></p>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1>Slides</h1>

<table class="index" id="listing_slides" data-hook>
  <thead>
    <tr data-hook="admin_slides_index_headers">
      <th>Name</th>
      <th data-hook="admin_slides_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @splashes.each do |splash|%>
      <tr id="<%= dom_id splash %>" data-hook="admin_slides_index_rows">
        <td width="350px" ><%= link_to(splash.taxon.name, seo_url(splash.taxon), :target => "_blank") if splash.taxon.present? %></td>
        <td data-hook="admin_slides_index_row_actions">
          <%= link_to_edit splash, :class => 'edit' %> &nbsp;
          <%= link_to_delete splash %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



